body {
    font-family:monospace;
    background-color: #fffaed;
    min-height: 100vh;
}
h1 {
    font-size: 42px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid black;
}
.footer-links {
    display: inline;
}
/*page1*/
#presentation {
    margin-top: 0.5vw;
    margin-left: 2vw;
}
